body {
    font-familyz
}

h1 {
    font-family:'Avenir 85';
    color: #870F0E;
    font-size: 90px;
}

h2 {
    font-family: Georgia;
    color: #27408E;
    font-size: 20px;
}
.sidenav {

}
.sidenav.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}