body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #870F0E;
    font-size: 24px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #27408E;
    font-size: 20px;
}
.head {
    grid-area: head;
    margin: 0px;
}
.sidenav {
    grid-area: sidenav;
    left: 0;
    top: 0;
    overflow-x: hidden; 
}

    .sidenav a {
        padding: 15px;
        font-size: 30px;
        text-decoration: none;
        color: black;
        display: block;
        vertical-align: middle;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

        .sidenav a:hover {
            color: #FFA104;
        }
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}
.grid-container {
    display:grid;
    grid-template-areas:
        'head head head head head'
        'sidenav main main main main'
        'sidenav main main main main'
        'sidenav main main main main'
        'footer footer footer footer footer';
}